:root {
  --colorHeader: #383e56;
  --color1: #f0dfce;
  --color2: #aea37c;
  --color3: #f4c7ab;

  --color4: #ebe8e5a3;
  --color5: #1b2139;
}
* {
  font-family: "Ubuntu", "Arial";
}
.wrapper,
body {
  overflow: hidden;
}
.required-field::after {
  content: "*";
  color: red;
  margin-left: 2px;
}
.error {
  border-color: #ff3860;
}
header {
  position: fixed;
  text-align: right;
  height: 5.5vh;
  background-color: var(--colorHeader);
  font-size: 25px;
  line-height: 7vh;
  width: 107vw;
}

.github {
  font-size: 2.3vh;
  line-height:7vh;
  display: inline-block;
  margin-right: 9vw;
}
.github:hover{
  color:var(--color1);
}
.imageDiv {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color2); /* Tint color */
  background-blend-mode: multiply;
  border: 0.1rem solid var(--color2);
  height: auto;
  min-width:30vw;
}

.languageSwitcher {
  display: inline-block;
  line-height: 7vh;
  margin-right: 10px;
}

.language-btn {
  color: var(--color1);
  border: 0px;
  margin-bottom: 15px;
  font-family: "Times New Roman", Times, serif;
}
.language-btn:hover {
  background-color: var(--color1);
  color: black;
}

/*First section*/

#gridContainer1 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 0.7fr 0.3fr;
  height: 100vh;
}
#rightDiv {
  background-image: url("https://images.unsplash.com/photo-1604565629118-07dbd99233c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

/*Second section*/

#rightDiv2 {
  background-image: url("https://images.unsplash.com/photo-1584646098378-0874589d76b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

/*Third section*/

#rightDiv3 {
  background-image: url("https://images.unsplash.com/photo-1571079977652-fdd830b2eb63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fGJ1Y2hhcmVzdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
}

#h1Cont {
  width: 100%;
}
h1 {
  font-size: 3.8rem;
  margin: 0;
  text-align: center;
  padding-top: 33vh;
  padding-bottom: 2vh;
  font-family: "Arimo";
  font-weight: bold;
  color: rgb(36, 36, 36);
  text-align: left;
  margin-left: 5rem;
}

.dropdown-toggle {
  background-color: #f0dfce00;
  border-color: var(--colorHeader);
  color: black;
  display: inline-block;
  width: 19rem;
  border-radius: 5px;
  border: 1px solid;
  font-size: 1.3rem;
  margin-left: 5rem;
}

#getStarted {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  border-radius: 0px;
  width: 100px;
  vertical-align: middle;
  padding: 0 auto;
}

.buttonCont {
  text-align: left;
  margin-left: 5rem;
}
.btn-success {
  background-color: var(--colorHeader);
  padding: 0.3rem;
  border-radius: 0.4rem;
  width: 30vw;
  max-width: 200px;
}
.typeDropdown {
  padding-top: 10px;
}

/* FORM AREA */
input[type="text"] {
  background-color: var(--color4);
  border-radius: 10px;
  width: 80%;
  max-width: 300px;
}
.checks {
  margin-top: 17px;
}
/* Checkbox color when checked */
.form-check-input {
  background-color: var(--color4);
  border: 0.85px solid var(--colorHeader);
}
.form-check-input:checked {
  background-color: var(--colorHeader);
}
Form {
  margin-right: 20vw;
  margin-top: 45px;
  margin-left: 75px;
  min-width: 400px;
  padding-top: 15px;
  padding-left: 60px;
  text-align: left;
  border: 3px solid var(--colorHeader);
  border-radius: 2rem;
  font-family: "Ubuntu", sans-serif;
}
form {
  height: 800px;
}

.title {
  display: block;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-top: 12px;
  margin-bottom: 7px;
}

label {
  margin-left:1.5px;
  font-size: 18px;
}

/* END FORM AREA */

.submit-btn {
  margin-top: 25px;
  padding: 5px 40px 5px 40px;
}
#dataButton {
  margin-top: 20px;
  background-color: #68686858;
}
.dropdown {
  width: 32vw;
}
.sources {
  text-align: left;
  margin-top: 20px;
  font-size: 23px;
  margin-left: 10px;
  width: 100%;
}
a {
  color: black;
}
.scrollable-menu {
  height: auto;
  max-height: 70vh;
  overflow-x: hidden;
}

.result {
  text-align: center;
  font-weight: bolder;
  margin-top: 1.5rem;
  font-size: 2rem;
  padding: 1.5rem;
  margin-right: 20vw;
  margin-left: 75px;
  min-width: 400px;
  color: rgb(45, 45, 45);
  border: 3px solid var(--colorHeader);
  border-radius: 2rem;
}

.photosGrid {
  display: grid;
  grid-template-rows: 95vh 95vh 95vh;
}
.leftDiv {
  height: 300vh;
  background-color: var(--color1);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23c4b69d' fill-opacity='0.06'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.06'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}
.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
}
#gridContainer1 {
  position: relative;
  transform-style: preserve-3d;
  z-index: -1;
}
.photosGrid {
  transform: translateZ(3px) scale(1);
  margin-left: -20vw;
}
.leftGrid,
.photosGrid {
  object-fit: cover;
  z-index: -1;
  display: grid;
  grid-template-columns: 1 1 1;
}
.imageDiv {
  height: 96vh;
  margin-left: 12.5vw;
  margin-right: -20vw;
  background-size: 72vh;
  margin-top: 13vh;
}
.section1,
.section3 {
  height: 100vh;
}
.section2 {
  min-height: 90vh;
}
.appDiv {
  margin-left: 5vw;
}
.wrapper {
  scroll-behavior: smooth;
}
.sources {
  margin-top: 8vh;
}
.mainButton:hover,
.mainButton:checked,
.mainButton:focus{
  background-color: var(--color5);
}
